.card-container {
    display: flex;
    flex-direction: column;
    background-color: rgba(141, 179, 139, 0.353);
    border: 1px solid rgba(171, 226, 115, 0.503);
    border-radius: 5px;
    padding: 20px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
}

.card-container:hover{
    transform: scale(1.05);
}